*.pyc
*.npy
*.pth
*.whl
*.swp

data/
ckpt/
work_dirs*/
dist_test/
vis/
val/
lib/
mmcv-1.7.2/

*.egg-info
build/
__pycache__/
*.so

job_scripts/
temp_ops/

# NVTX Trace files
*.nsys-rep
*.sqlite
*.qdstrm
/tmp/nsys-report-*